<style>
.content {
    max-width: 500;
    margin: auto;
}
</style>

<div class="content">
<h1>Hello there!</h1>
<div class="vertical-line" style="height: 60px;" />
<h3>What is your name?</h3>





<input type="text" name="name">
<input type="text" name="date">

<select>
  <option value="january">January</option>
  <option value="february">February</option>
  <option value="march">March</option>
  <option value="april">April</option>
  <option value="may">May</option>
  <option value="june">June</option>
  <option value="july">July</option>
  <option value="august">August</option>
  <option value="september">September</option>
  <option value="october">October</option>
  <option value="november">November</option>
  <option value="december">December</option>
</select>

<button type="button">Submit</button>



</div>
